
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Here is Activity2 area's default page, Home/Index.</h1>
    <a href="/Activity1/Home/Index">go to Activity1 area action</a>
    <a href="/Activity1">go to Activity1 area default</a>
</body>
</html>
