@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    activity2
    </div>
    <h1>@Request.Params["param1"]</h1>
</body>
</html>
